/* Tags */
body {
  background-color: #fff;
  color: #7E7F80;
  line-height: 22px;
  /* Must be same as footer height */
  padding-bottom: 150px;
}

b {
  color: #4A4B4C;
}

a:focus {
  outline: none;
}

a, a:hover, a:focus, a > b {
  color: #EE724E;
}

em {
  font-style: normal;
  color: #EE724E;
}

hr {
  height: 1px;
  background-color: #EEEFF0;
  margin-top: 30px;
  margin-bottom: 30px;
}

hr.section-hr {
  height: 3px;
  margin-top: 0;
}

/* Classes */
.section {
  margin-top: 50px;
}

.software-thumbnail-container {
  margin-bottom: 40px;
}

.software-thumbnail {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  border-radius: 7px;
}

.software-thumbnail:hover {
  border-color: #EE724E !important;
}

.software-thumbnail-button {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 25px;
  bottom: 25px;
  border-radius: 25px;
  background-color: #EE724E;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.software-thumbnail:hover > .software-thumbnail-button {
  opacity: 0.9;
}

/* IDs */
#page {
  margin-bottom: 50px;
}

#title {
  margin-bottom: 2.5px;
  color: #EE724E;
}

#subtitle {
  margin-top: 0;
  color: #4A4B4C;
}

#tabs > li > a {
  margin: 0 20px 0 0;
  padding: 10px 0;
  color: #EE724E;
  background: none;
  font-weight: bold;
  text-align: left;
  border-top: 5px solid #EE724E;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  transition: color .3s ease, border-color .3s ease;
}

#tabs > li:last-child > a {
  margin: 0;
}

#tabs > li.active > a, #tabs > li > a:hover {
  color: #4A4B4C;
  border-color: #4A4B4C;
}

#footer {
  height: 150px;
  background-color: #EE724E;
  color: #fff;
  font-size: 12px;
}

#footer > .section {
  margin-top: 25px;
}

#footer a, #footer b {
  color: #fff;
}

/* Media queries */
/* Extra small */
@media (max-width:767px) {
  body {
    /* Footer is hidden in XS */
    padding-bottom: 0;
  }

  #tabs > li > a {
    margin: 0;
  }

  #software-thumbnails[data-columns]::before {
    content: '1 .col-xs-12';
  }
}

/* Small */
@media (min-width:768px) and (max-width:991px) {
  #software-thumbnails[data-columns]::before {
    content: '2 .col-sm-6';
  }
}

/* Medium */
@media (min-width:992px) and (max-width:1199px) {
  #software-thumbnails[data-columns]::before {
    content: '3 .col-md-4';
  }
}

/* Large */
@media (min-width:1200px) {
  #software-thumbnails[data-columns]::before {
    content: '4 .col-lg-3';
  }
}
