/* Tags */
body {
  background-color: #fff;
  /* Must be same as footer height */
  padding-bottom: 150px;
}

/* Classes */
.section {
  margin-top: 50px;
}

/* IDs */
#title {
  color: #EE724E;
}
#subtitle {
  margin-top: 0;
  color: #4A4B4C;
}
#footer {
  height: 150px;
  background-color: #EE724E;
}
